body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 6.25rem;
  border-radius: 0.9375rem;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 1.75rem;
  color: #333333;
  margin-bottom: 1.5625rem;
}

.plans {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.875rem;
}

.plan {
  width: 30%;
  background-color: #fafafa;
  border-radius: 0.9375rem;
  padding: 0.9375rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.plan-header {
  background-color: #e6f7ff;
  border-radius: 0.9375rem;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
}
.plan-header.selected {
  background-color: orange;
  color: blue;
}
.plan-badge {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007acc;
}

.plan-price {
  font-size: 1.125rem;
  color: #666666;
}

.discount {
  font-size: 1rem;
  color: #1e90ff;
}

.pay-button {
  background-color: #007acc;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  font-size: 1.125rem;
  margin-top: 1.25rem;
}

.pay-button:hover {
  background-color: #005b99;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 1.25rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 31.25rem;
  border-radius: 0.625rem;
  text-align: left;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.payment-options {
  margin: 1.25rem 0;
}

.payment-detail {
  display: none;
  margin: 1.25rem 0;
}

.payment-detail label {
  display: block;
  margin: 0.3125rem 0;
}

.payment-detail input[type='text'] {
  width: 100%;
  padding: 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.annual-payment {
  margin: 1.25rem 0;
}
