@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.ttf)
      format("truetype");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
/* body {
  font-family: "NanumSquareRound";
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

#from99 {
  font-family: "Pretendard-Regular";
}
#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
  top: 0;
  left: 0;
}
.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 40rem;
  display: none;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#overlay.visible {
  display: block;
}
#overlay.hodden {
  display: none;
}
.form-container.visible {
  display: block;
}
.form-container.hidden {
  display: none;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.group {
  margin-bottom: 0.9375rem;
}
.group label {
  margin-bottom: 0.3125rem;
  margin: 1rem;
}
#phone,
#childName,
#content {
  width: 15rem;
}

.radio-group label {
  padding: 1rem;
}

.group span {
  color: rgb(107, 192, 218);
}
.group input,
.group select,
.group textarea {
  width: 10rem;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
}

.group input[type="radio"] {
  width: auto;
}
.group input[type="checkbox"] {
  width: 2.5rem;
}
.group .radio-group label {
  margin-right: 0.625rem;
}
.group .checkbox-group {
  display: flex;
  align-items: center;
}
.group .checkbox-group input {
  margin-right: 0.3125rem;
}
.group .checkbox-group label {
  margin: 0;
}

.content-group {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-container button {
  width: 70%;
  padding: 0.625rem;
  margin: 0.8rem;
  border: none;
  border-radius: 1rem;
  background-color: #087f5b;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #07412f;
}
.button-container.close-Btn {
  background-color: white;
}
