* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  max-width: 81.25rem;
  margin: 2.5rem auto;
  padding: 1.25rem;
  background-color: #f7f7f7;
}
h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

/* 문의 유형 스타일링 */
.inquiryType {
  margin-bottom: 1.25rem;
}

.iocn {
  color: red;
}

.icon {
  color: red;
}

.inquiry {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.big-category,
.smli-category {
  margin-bottom: 10px;
}

select {
  width: 99%;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

/* 문의 내용 스타일링 */
.inquiryDetails {
  margin-bottom: 1.25rem;
}

.writeDetails {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.text-wirte {
  margin-bottom: 0.625rem;
}

.inquiry-wirte {
  margin-bottom: 0.625rem;
}

textarea.write {
  color: #999;
  width: 100%;
  height: 9.375rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  resize: none;
  text-align: left;
  transition: all 0.3s ease;
}

.write.clicked {
  padding-left: 1.25rem;
  border-color: black;
}

.text-span {
  display: block;
  margin-top: 0.3125rem;
  color: #999;
}

/* 파일 업로드 스타일링 */
.inputUpload {
  margin-bottom: 0.625rem;
}

.upload {
  margin-bottom: 0.625rem;
}

label.fileUpload {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.625rem;
  cursor: pointer;
  color: #007bff;
}

input.file-upload {
  display: none;
}

.file-info {
  margin-top: 0.625rem;
}

.text-p {
  margin-bottom: 0.625rem;
  color: #999;
  font-size: 0.875rem;
}

.fileMb {
  margin-bottom: 1.25rem;
}

.mb-dd {
  font-size: 1rem;
}

/* 이메일 입력 스타일링 */
.email_enter {
  margin-bottom: 1.25rem;
}

.tite_email {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.email-error {
  display: block;
  margin-top: 0.3125rem;
  color: red;
  font-size: 0.75rem;
  visibility: hidden;
}

.emailInput {
  margin-bottom: 0.5rem;
}

input.emailAdder {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

/* 전화번호 스타일링 */
.phoneNumber {
  margin-bottom: 1.25rem;
}

.tite_nuber {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.number_fill {
  margin-bottom: 0.625rem;
}

.number_tel {
  display: flex;
  align-items: center;
}

.nation_number {
  width: 99%;
  margin-right: 0.625rem;
}

select.country_code {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.tel-phome {
  flex: 1;
}

input.phome {
  width: 98%;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.telError {
  display: block;
  margin-top: 0.3125rem;
  color: red;
  font-size: 0.75rem;
  visibility: hidden;
}

.inquiry-btn {
  text-align: center;
}

.inquiryBtn {
  cursor: pointer;
  border: none;
  background-color: #fae102;
  color: #222222;
  width: 24%;
  padding: 1rem;
  font-size: 1.25rem;
}
