@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "NanumSquareRound";
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}
.container {
  width: 100%;
  height: 100vh;
  max-width: 65rem;
  padding: 2rem 6rem 2rem 6rem;
  background-color: #fff;
}
.form {
  padding: 0 8rem 0 8rem;
}
h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.inquiryType {
  margin-bottom: 1.25rem;
}

.iocn {
  color: red;
}

.icon {
  color: red;
}

.inquiry {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.big-category,
.smli-category {
  margin-bottom: 10px;
}

select {
  width: 99%;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.inquiryDetails {
  margin-bottom: 1.25rem;
}

.writeDetails {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.text-wirte {
  margin-bottom: 0.625rem;
}

.inquiry-wirte {
  margin-bottom: 0.625rem;
}

textarea.write {
  color: #999;
  width: 100%;
  height: 9.375rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  resize: none;
  text-align: left;
  transition: all 0.3s ease;
}

textarea.write.clicker {
  padding-left: 1.25rem;
  border-color: #222222;
}

.text-span {
  display: block;
  margin-top: 0.3125rem;
  color: #999;
}

.inputUpload {
  margin-bottom: 0.625rem;
}

.upload {
  margin-bottom: 0.625rem;
}

label.fileUpload {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.625rem;
  cursor: pointer;
  color: #007bff;
}

input.file-upload {
  display: none;
}

.file-info {
  margin-top: 0.625rem;
}

.text-p {
  margin-bottom: 0.625rem;
  color: #999;
  font-size: 0.875rem;
}

.fileMb {
  margin-bottom: 1.25rem;
}

.mb-dd {
  font-size: 1rem;
}

.email_enter {
  margin-bottom: 1.25rem;
}

.tite_email {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.email-error {
  display: block;
  margin-top: 0.3125rem;
  color: red;
  font-size: 0.75rem;
  visibility: hidden;
}

.emailInput {
  margin-bottom: 0.5rem;
}

input.emailAdder {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.phoneNumber {
  margin-bottom: 1.25rem;
}

.tite_nuber {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.number_fill {
  margin-bottom: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.number_tel {
  display: flex;
  align-items: center;
}

.nation_number {
  width: 99%;
  margin-right: 0.625rem;
}

select.country_code {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.tel-phome {
  flex: 1;
}

input.phome {
  width: 98%;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.telError {
  display: block;
  margin-top: 0.3125rem;
  color: red;
  font-size: 0.75rem;
  visibility: hidden;
}

.inquiry-btn {
  text-align: center;
}

.inquiryBtn {
  cursor: pointer;
  border: none;
  background-color: #fae102;
  border-radius: 16px;
  color: #222222;
  width: 24%;
  padding: 1rem;
  font-size: 1.25rem;
}

.file-item {
  padding: 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  margin-bottom: 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.3125rem;
  cursor: pointer;
  border-radius: 0.1875rem;
}

.error {
  border: 1px solid red;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 2rem 4rem;
  }
  .form {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem 2rem;
  }
  .form {
    padding: 0.2rem;
  }
  .inquiryBtn {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1rem 1rem;
  }
  .form {
    padding: 0 1rem;
  }
  .inquiryBtn {
    width: 90%;
  }
}
