* {
  box-sizing: border-box;
  font-family: "NanumSquareRound";
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

body {
  width: 100%;
  height: 100%;
  /* margin: 100px 0 0 0; */
  word-break: keep-all;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 62.5rem;
  margin: 2.5rem auto;
  height: 100vh;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
div > img,
h3 > img {
  width: 2.5rem;
  height: 2.5rem;
}
.first-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 12rem;
  border: 1.875rem solid lightgray;
  padding: 2rem;
}
.left-area {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.user-info {
  gap: 3.25rem;
  display: flex;
  align-items: center;
}
.user-info img {
  background-color: #83b4eb;
  border-radius: 50%;
  padding: 0.25rem;
}
.my-info {
  display: flex;
  gap: 3rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.my-info div {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.my-info div:hover {
  text-decoration: underline;
}
.right-area {
  border-left: 2px dotted gray;
  height: 100%;
  padding-left: 2.5rem;
}
.right-area h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
}
.right-area h3 img {
  background-color: rgb(241, 217, 76);
  border-radius: 50%;
  padding: 0.25rem;
}
.bottom-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  font-size: 1.25rem;
  background-color: rgb(168, 168, 168);
  justify-items: center;
  align-items: center;
}
.my-classroom2,
.review,
.keep-basket,
.my-subscribe,
.my-shipping,
.my-info2 {
  display: grid;
  border: 0.1rem solid white;
  width: 100%;
  text-align: center;
  padding: 1.25rem;
  cursor: pointer;
}
.bottom-area p {
  margin: 0.5rem;
}
.my-classroom2:hover,
.review:hover,
.keep-basket:hover,
.my-subscribe:hover,
.my-shipping:hover,
.my-info2:hover {
  text-decoration: underline;
}
