@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.ttf)
      format("truetype");
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff9ea;
  font-family: "NanumSquareRound";
  letter-spacing: 0.125rem;
}
.container {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
  background-color: #eaf0ff;
  padding: 1.5rem;
  border-radius: 2rem;
  margin-top: 2%;
}
.w {
  padding-left: 2rem;
}
h1,
h4 {
  margin: 0;
  padding: 0.25rem;
}
.level {
  width: 14%;
  margin-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcff90;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: BOLD;
  text-align: center;
  box-shadow: 0.625rem 0.625rem 0px 0px rgba(0, 0, 0, 0.4);
}
.title {
  margin-bottom: 1%;
  font-size: 2rem;
  letter-spacing: 0.1875rem;
  font-family: "NanumSquareRoundEB";
  padding-bottom: 1rem;
  align-self: center;
}
.text {
  font-size: 1rem;
  padding-left: 1rem;
  color: rgb(129, 129, 129);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.content-wrap {
  background-color: #fff9bc;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.content-wrap img {
  width: 4.375rem;
}
.content-wrap img:first-child {
  height: 4.375rem;
}
.stekchBook {
  width: 21.875rem;
}
.mains {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
}
.overLays {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
}
.overLays img {
  width: 3.75rem;
  height: 3.75rem;
}

.overLay1 {
  top: 5rem;
  left: -17.5rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.overLay2 {
  top: 5rem;
  left: 4.375rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.overLay3 {
  top: 24.375rem;
  left: -17.5rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.overLay4 {
  top: 24.375rem;
  left: 4.375rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.selected {
  border: 0.125rem solid blue;
  border-radius: 50%;
}
