@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.ttf)
      format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff9ea;
  font-family: "NanumSquareRound";
  letter-spacing: 2px;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
}
h1,
h4 {
  margin: 0;
}
.level {
  width: 10%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-radius: 18px;
}
.title {
  margin-bottom: 3px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header {
  width: 100%;
  display: flex;
  /* border: 10px solid #eaf0ff; */
  background-color: #eaf0ff;
  padding: 40px;
  border-radius: 32px;
  margin-top: 40px;
}
.w {
  padding-left: 32px;
}
h1,
h4 {
  margin: 0;
  padding: 4px;
}
.level {
  width: 14%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9d90;
  border-radius: 32px;
  font-size: 24px;
  font-weight: BOLD;
  text-align: center;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}
.title {
  margin-bottom: 3px;
  font-size: 48px;
  letter-spacing: 3px;
  font-family: "NanumSquareRoundEB";
  padding-bottom: 16px;
  align-self: center;
}
.text {
  font-size: 24px;
  padding-left: 16px;
  color: rgb(129, 129, 129);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.bkImg {
  background-color: bisque;
  height: 80px;
}
.ground-one {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vege {
  position: absolute;
  top: -50px;
}
#hole1 {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  right: 280px;
}
#hole2 {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  right: 180px;
}
.hole-dropped {
  background-color: transparent;
  border-radius: 0;
  width: auto;
  height: auto;
  position: relative;
}
/* 게임 2번 */
.ground-two {
  position: relative;
}
.vege2 {
  position: absolute;
  top: -70px;
}
#game2-hole1 {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  right: 230px;
}
#game2-hole2 {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  right: 30px;
}
/* 게임3번 */
.ground-three {
  position: relative;
}
.vege3 {
  position: absolute;
  top: -60px;
}
#game3-hole1 {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  right: 250px;
}
#game3-hole2 {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  right: 150px;
}
#game3-hole3 {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  right: 50px;
}
/* 게임 이미지 */
.gameImgs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
}

.gameImgs div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid pink;
  box-sizing: border-box;
  border-right: none;
  background-color: white;
}
.gameImgs div:last-child {
  border-right: 3px solid pink;
}

.gameImgs img {
  max-width: 100%;
  height: auto;
}

/* drop */
/* 기본 hole 스타일 */
.game1-holes,
.game2-holes,
.game3-holes {
  width: 60px;
  height: 60px;
  background-color: #31210f;
  border-radius: 0 0 50% 50%;
  position: absolute;
}

/* 기본 드래그 가능한 이미지 스타일 */
.vegetablesImgs {
  transition: all 0.3s ease;
}

/* 드롭된 이미지 스타일 */
.dropped {
  position: relative;
}

/* 이미지별 드롭된 스타일 */
.dropped.carrot {
  position: absolute;
  top: 10px;
  left: -30px;
  width: 30px;
  transform: translate(-50%, -50%);
}

.dropped.spring-onion {
  position: absolute;
  top: 10px;
  left: -30px;
  width: 130px;
  transform: translate(-50%, -50%);
}
.dropped.onion {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 30px;
  transform: translate(-50%, -50%);
}

.dropped.radish {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 130px;
  transform: translate(-50%, -50%);
}
