* {
  box-sizing: border-box;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}
body {
  overflow: hidden;
  font-family: "NanumSquareRound";
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  max-width: 81.25rem;
}
.headH2 {
  margin: 0.75rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.color {
  color: #4bff00;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.list {
  background-color: #e0f2e9;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0;
  padding: 1rem;
  width: 80%;
}
.list > img {
  border-radius: 1rem;
  max-height: 60%;
  object-fit: contain;
}
.list-tite {
  padding: 0.3125rem;
  margin: 0;
  color: #0b1b43;
  font-size: 1rem;
  text-align: center;
}
.list-tite > strong {
  color: #0b1b43;
  font-size: 1.125rem;
}
.payBtncontainer {
  text-align: center;
  position: relative;
  margin-right: 1rem;
}
.payBtn {
  position: absolute;
  bottom: 5rem;
  right: 10rem;
  border: none;
  border-radius: 1rem;
  background-color: #05d7fb;
  font-size: 1rem;
  width: 10%;
  z-index: 1000;
  font-weight: 700;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

/* 반응형 스타일 - 작은 화면 */
@media (max-width: 600px) {
  .payBtn {
    width: 15%;

    top: 90%;
    max-width: 7.5rem;
  }
  .content {
    width: 75%;
  }
}
.payBtn:hover {
  background-color: #07f10c;
}

/* 반응형 스타일 - 중간 크기 화면 */
@media (min-width: 37.5625rem) and (max-width: 64rem) {
  .payBtn {
    width: 10%;
    top: 90%;
    min-width: 8.75rem;
    right: 70%;
  }
  .content {
    width: 85%;
  }
}
/* 반응형 스타일 - 큰 화면 */
@media (min-width: 1024px) and (max-width: 1900px) {
  .payBtn {
    width: 10%;
    left: 85%;
    top: 90%;
  }
  .content {
    width: 85%;
  }
}

/* 반응형 스타일 - 최대 축소 화면 */
@media (min-width: 767px) and (max-width: 500px) {
  .payBtn {
    width: 16%;
    top: 90%;
  }
  .content {
    width: 65%;
  }
}

.bubbles {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  z-index: -9999;
}

.bubbles span {
  -webkit-animation: bubbelUp 15s linear infinite;
  animation: bubbelUp 15s linear infinite;
  border-radius: 50%;
  height: 7vw;
  overflow: hidden;
  width: 7vw;
}

.bubbles span.purple {
  background-color: #d9d7f1;
}

.bubbles span.yellow {
  background-color: #fffdde;
}

.bubbles span.green {
  background-color: #e7fbbe;
}

.bubbles span.pink {
  background-color: #ffcbcb;
}

.bubbles span.blue {
  background-color: #d6e5fa;
}

.bubbles span.b1 {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.bubbles span.b2 {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.bubbles span.b3 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.bubbles span.b4 {
  -webkit-animation-duration: 7.5s;
  animation-duration: 7.5s;
}

.bubbles span.b5 {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

@-webkit-keyframes bubbelUp {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(2800px) scale(0.4);
    transform: translateY(2800px) scale(0.4);
  }

  75% {
    opacity: 0.8;
  }

  to {
    opacity: 0.1;
    -webkit-transform: translateY(0) scale(1.7);
    transform: translateY(0) scale(1.7);
  }
}

@keyframes bubbelUp {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(2800px) scale(0.4);
    transform: translateY(2800px) scale(0.4);
  }

  75% {
    opacity: 0.8;
  }

  to {
    opacity: 0.1;
    -webkit-transform: translateY(0) scale(1.7);
    transform: translateY(0) scale(1.7);
  }
}
