@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "LeferiBaseType-RegularA";
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.review-container {
  height: 100vh;
  background-color: #0b212b;
  margin: 0;
}
/* 타이틀 */
.title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  color: #45565e;
  margin-top: 100px;
}
.sub-title {
  color: white;
  font-size: 2rem;
}
.main-title {
  color: white;
  font-size: 3rem;
}
.strong {
  color: #ff9d00;
  font-size: 3rem;
}
/* 이미지 */
.review-imgs {
  display: flex;
  gap: 3%;
  justify-content: center;
  align-items: center;
}
.kids {
  width: 20rem;
  height: 20rem;
  border-radius: 25px;
}
.reviewImgs {
  position: relative;
  text-align: center;
}
.reviewImgs .Btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.reviewImgs .Btn img {
  filter: invert(1) brightness(2);
}
.reviewImgs:hover .kids,
.reviewImgs .Btn:hover ~ .kids {
  transform: scale(1.3, 1.3);
}
.reviewImgs:hover .Btn {
  display: block;
}
.reviewText {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}
.reviewImgs:hover .reviewText {
  display: block;
}
.spans {
  color: #ff9d00;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
