@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.ttf)
      format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff9ea;
  font-family: "NanumSquareRound";
  letter-spacing: 2px;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
  background-color: #eaf0ff;
  padding: 40px;
  border-radius: 32px;
  margin-top: 40px;
}
.w {
  padding-left: 32px;
}
h1,
h4 {
  margin: 0;
  padding: 4px;
}
.level {
  width: 14%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcff90;
  border-radius: 32px;
  font-size: 24px;
  font-weight: BOLD;
  text-align: center;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}
.title {
  margin-bottom: 3px;
  font-size: 48px;
  letter-spacing: 3px;
  font-family: "NanumSquareRoundEB";
  padding-bottom: 16px;
  align-self: center;
}
.text {
  font-size: 24px;
  padding-left: 16px;
  color: rgb(129, 129, 129);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.plate {
  background-color: gray;
  border: 13px solid rgb(109, 108, 108);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 30px;
}
.bakery {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  height: 800px;
}
.donuts,
.cupcakes {
  background-color: rgb(185, 235, 235);
  border: 20px inset rgba(128, 128, 128, 0.87);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.choco-donuts,
.choco-cupcakes,
.strawberry-donuts,
.strawberry-cupcakes {
  border-bottom: 20px inset black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 40%;
}
.big,
.small {
  align-self: flex-end;
}
.shadow {
  filter: brightness(0);
}
.chef {
  display: flex;
  align-items: flex-end;
}
