@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.ttf)
      format("truetype");
}

@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff9ea;
  font-family: "NanumSquareRound";
  letter-spacing: 0.125rem;
}
.container {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
  background-color: #eaf0ff;
  padding: 1.5rem;
  border-radius: 2rem;
  margin-top: 2%;
}
.w {
  padding-left: 2rem;
}
h1,
h4 {
  margin: 0;
  padding: 0.25rem;
}
.level {
  width: 14%;
  margin-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90b0ff;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: BOLD;
  text-align: center;
  box-shadow: 0.625rem 0.625rem 0px 0px rgba(0, 0, 0, 0.4);
}
.title {
  margin-bottom: 0.1875rem;
  font-size: 2rem;
  letter-spacing: 0.1875rem;
  font-family: "NanumSquareRoundEB";
  padding-bottom: 1rem;
  align-self: center;
}
.text {
  font-size: 1rem;
  padding-left: 1rem;
  color: rgb(129, 129, 129);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.rule {
  border: 0.625em dotted pink;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.week,
.color {
  display: flex;
  justify-content: center;
  font-size: 1.125em;
  padding: 0.5em;
  font-family: "NanumSquareRoundB";
}
.game {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 1.5em;
  height: 50%;
  justify-content: space-evenly;
}
.answer {
  border: 0.125em solid red;
  width: 16.875em;
  height: 10.625em;
  position: absolute;
  top: -3.125em;
  right: -8.75em;
  display: flex;
  justify-content: center;
}
.closet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #dfd3c3;
  padding: 1em;
  gap: 1em;
  border: 1.125em solid #6c5d53;
  border-radius: 1em;
  justify-items: center;
  align-items: center;
}
/* .dress {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1875em solid #c7b199;
  background-color: #e9e0d5;
  border-radius: 0.5em;
} */

.speech-bubble {
  position: absolute;
  background: #edf8ff;
  border: 6px solid #aed3eb;
  border-radius: 2em;
  width: 21.875em;
  height: 5em;
  right: 4.375em;
  top: -3.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Ownglyph_meetme-Rg";
  font-size: 1.5em;
  word-break: keep-all;
  margin-top: 1em;
}
.speech-bubble:after,
.speech-bubble:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.speech-bubble:after {
  border-top-color: #edf8ff;
  border-width: 1.875em;
  margin-left: -1.875em;
}
.speech-bubble:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 2.25em;
  margin-left: -2.25em;
}

.score {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #11503dec;
  border: 9px solid #705d4e;
  backdrop-filter: blur(6px);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: bolder;
  color: aliceblue;
  box-shadow: 0 16px 10px rgba(0, 0, 0, 0.5);
}
