@font-face {
  font-family: "NanumSquareRound";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundEB";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.ttf)
      format("truetype");
}

@font-face {
  font-family: "NanumSquareRoundL";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.eot?#iefix)
      format("embedded-opentype"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff2)
      format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.woff)
      format("woff"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundL.ttf)
      format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff9ea;
  font-family: "NanumSquareRound";
  letter-spacing: 2px;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
  background-color: #eaf0ff;
  padding: 24px;
  border-radius: 32px;
  margin-top: 2%;
}
.w {
  padding-left: 32px;
}
h1,
h4 {
  margin: 0;
  padding: 4px;
}
.level {
  width: 14%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9d90;
  border-radius: 32px;
  font-size: 24px;
  font-weight: BOLD;
  text-align: center;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}
.title {
  margin-bottom: 3px;
  font-size: 32px;
  letter-spacing: 3px;
  font-family: "NanumSquareRoundEB";
  padding-bottom: 16px;
  align-self: center;
}
.text {
  font-size: 16px;
  padding-left: 16px;
  color: rgb(129, 129, 129);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.password-box {
  border: 4px dotted rgb(169, 230, 177);
  display: flex;
  justify-content: space-around;
  padding: 30px 150px;
  border-radius: 40px;
  position: relative;
}
.password {
  position: absolute;
  top: -25px;
  border: 3px dashed rgb(95, 163, 104);
  width: 140px;
  text-align: center;
  padding: 10px;
  background-color: rgb(169, 230, 177);
  border-radius: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
  grid-template-rows: repeat(auto-fit, minmax(25%, auto));
  border: 4px solid rgb(169, 230, 177);
  border-radius: 10px;
  height: 70%;
  width: 80%;
  align-self: center;
  margin-bottom: 1%;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(169, 230, 177);
  cursor: pointer;
}
.tree {
  display: none;
}
/* .hidden {
  display: none;
} */
.visited {
  background-color: rgba(184, 224, 219, 0.425);
}
.arrived {
  background-color: rgba(184, 224, 219, 0.425);
}
